
body{
   background-color: blueviolet;
   
 }
 h1{
     text-align: center;
     color: aliceblue;
 }
 section{
     margin:auto;
     background-color: aliceblue;
     padding: 15px;
     width: 400px;
     height: 300px;
     border-radius: 10px;
     box-shadow: 2px 2px 5px black;
 }
select{
    width: 100px;
    margin-top: 30px;
}
 footer{
     margin-top:40px;
     text-align: center;
     font-style: italic;
     color: aliceblue;
 }

